@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("http://db.onlinewebfonts.com/c/6df2cbfcd36c50046abecaea00d1275a?family=Belinda");
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url("./assets/img/img22.jpeg");
	background-repeat: no-repeat;
	background-size: 100% 900px;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.full-name {
	font-family: "Belinda", monospace;
	font-weight: 500;
	text-align: center;
}

.about-me {
	border-radius: 165px 0 0 165px;
}

